<% include partials/header %>
<div class="weather">
    <h1>Hello, please write down the city name</h1>
    <form action="/weather" method="GET">
        <input type="text" name="city" placeholder="City name">
        <input type="submit">
    </form>
</div>
<% include partials/footer %>

